@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

/* Global Configs */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(0, 0%, 98%);
}

/* Global Configs */


/* Header Configs */

header {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 120px;
}

.header-content {
    width: 50%;
    text-align: center;
}

header p, h1 {
    padding: 15px 15px 0px 15px;
}

/* Header Configs */


/* Item Container Configs */

.container {
    display: flex;
    height: 45vh;
    justify-content: center;
    align-items: center;    
    margin-bottom: -50px;
}

.item {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.315);
    margin: 10px;
    width: 330px;
    border-radius: 5px;
    height: 200px;
}

.item .item-text {
    padding: 15px 30px 15px 30px;
    line-height: 1.5em;
}

.item .item-text p {
    font-size: 15px;
    font-weight: 300;
    color: hsl(229, 6%, 66%)
}

.item .item-text h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
    color: hsl(234, 12%, 34%)
}

.item .img {
    align-self: flex-end;
    padding: 15px 30px 15px 15px; 
}

.item-duplo .item {
    margin-bottom: 20px;
}

.img img {
    width: 45px;
}

@media (max-width: 930px) {
    .container {
        flex-direction: column;
        margin-top: 350px;
    }
    .header-content {
        width: 100%;
    }
    
}